<div class="box col-xs-4" style="height: 250px; border-color: rgba(196, 185, 185, 0.48); margin-left: 25px; margin-bottom: 25px">
    <p><label style="font-weight: 800; margin-top: 25px">收货人：</label>#da_receiver#</p>
    <p><label style="font-weight: 800">收货地址：</label>#da_address#</p>
    <p><label style="font-weight: 800">邮政编码：</label>#da_zipcode#</p>
    <p><label style="font-weight: 800">电话号码：</label>#da_telephone#</p>
    <div style="margin-top: 30px">
        <a style="background-color: transparent; border: 0px; cursor: pointer;" onclick="showAddressModal($da_id$)">编辑</a>
        <label style="margin-left: 6px">| </label>
        <a style="margin-left: 6px; background-color: transparent; border: 0px; cursor: pointer;" onclick="showDeleteModal($da_id$)">删除</a>
        <!--<label style="margin-left: 6px">| </label>
        <a style="margin-left: 6px; background-color: transparent; border: 0px; cursor: pointer;">设为默认收货地址</a>-->
    </div>
</div>
